body
	{
		background-color: #e4d5b7;
	}

a:link, a:visited
	{
		color: #aa6f73;
		background-color:#eea990;
		text-decoration: none;
		padding: 10px;
		text-align: center;
		display: inline-block;
		font-family: verdana;
	}

a:hover
	{
		color: #fb2e01;
		background-color: #f6e0b5;
		text-decoration: none;
	}

a:active
	{
		color: #666547;
		background-color: #6fcb9f;
		text-decoration: none;
	}